@font-face {
    font-family: Poppins-Regular;
    src: url('fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('fonts/poppins/Poppins-SemiBold.ttf');
}

*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: Poppins-Regular, sans-serif;
}

/* bagaian navbar */
.navbar {
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 5px solid crimson;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    padding: 15px;
    width: 100%;
    height: 20px;
    background-color: rgb(13, 10, 54);
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}

.brand {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.brand a {
    text-decoration: none;
    color: white;
}

.brand .lastname a {
    color: crimson;
}

.firstname {
    color: white;
    font-size: 1.3em;
    font-weight: 600;
}

.lastname {
    color: crimson;
    font-weight: 500;
    font-size: 1em;
    margin-top: 6px;
}

.navigasi {
    display: flex;
    justify-content: center;
    align-items: center;

}

.navigasi>li {
    list-style-type: none;
    padding: 15px;
}

.navigasi>li>a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.navigasi>li>a:hover {
    color: crimson;
    font-size: 20px;
    transition: all .3s ease-in-out;
}

.navigasi>li>img {
    width: 40px;
    height: 40px;
    padding-top: 4px;
    border-radius: 100%;
}

.navigasi>li>img:hover {
    width: 200px;
    height: 200px;
    padding-top: 180px;
    border-radius: 200px;
    transition: all .3s ease-in-out;
    z-index: 3;
}

.aktif {
    background-color: crimson;
    color: white !important;
    padding: 5px;
    border-radius: 10px;
}

.logout {
    color: white;
    font-size: 15px;
}

.logout:hover {
    color: crimson;
    font-size: 20px;
    transition: all .3s ease-in-out;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}

.container:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url("file/contact.png") no-repeat center;
    background-size: cover;
    filter: blur(50px);
    z-index: -1;
}

.contact-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left {
    background: url("file/contact.png") no-repeat center;
    background-size: cover;
    height: 100%;
}

.right {
    padding: 25px 40px;
}

.list {
    display: flex;
    position: relative;
    right: 40px;
    top: -20px;
    list-style-type: none;
    flex-direction: row;
    background-color: rgb(13, 10, 54);
    width: 160px;
    height: 30px;

}

.list li {
    padding: 5px;
}

.list img {
    width: 20px;
}

.list li p {
    color: white;
}

.h2 {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
}

.h2:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

textarea {
    min-height: 150px;
}

.btn {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #2ecc71;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background-color: #27ae60;
}

.field:focus {
    border: 2px solid rgba(30, 85, 250, 0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px) {
    .contact-box {
        grid-template-columns: 1fr;
    }

    .left {
        height: 200px;
    }
}