@font-face {
    font-family: Poppins-Regular;
    src: url('fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('fonts/poppins/Poppins-SemiBold.ttf');
}

*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: Poppins-Regular, sans-serif;
}

/* bagaian navbar */
.navbar {
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 5px solid crimson;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    padding: 15px;
    width: 100%;
    height: 20px;
    background-color: rgb(13, 10, 54);
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}

.brand {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.brand a {
    text-decoration: none;
    color: white;
}

.brand .lastname a {
    color: crimson;
}

.firstname {
    color: white;
    font-size: 1.3em;
    font-weight: 600;
}

.lastname {
    color: crimson;
    font-weight: 500;
    font-size: 1em;
    margin-top: 6px;
}

.navigasi {
    display: flex;
    justify-content: center;
    align-items: center;

}

.navigasi>li {
    list-style-type: none;
    padding: 15px;
}

.navigasi>li>a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.navigasi>li>a:hover {
    color: crimson;
    font-size: 20px;
    transition: all .3s ease-in-out;
}

.aktif {
    background-color: crimson;
    color: white !important;
    padding: 5px;
    border-radius: 10px;
}

.logout {
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.logout:hover {
    color: crimson;
    font-size: 20px;
    transition: all .3s ease-in-out;
}

/* bagian content about */
.dasar {
    background-color: rgb(199, 195, 255);
    position: relative;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    height: 100vh;
}

.dasar .about {
    background-color: rgb(225, 225, 255);
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 20px;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}

.dasar .about img {
    width: 50vh;
    padding: 40px;
    border-radius: 10vh;
}

.dasar .about .text {
    margin-top: 40px;

}

.dasar .about table {
    padding-top: 20px;
    width: 550px;
    font-size: 1.3em;
    color: rgb(0, 1, 14);
}

.judul1 {
    font-size: 2rem;
    text-align: left;
    color: rgb(0, 1, 14);
}